#navigation_bar .button {
	display: inline-block;
}

#navigation_bar .button {
	padding: 0 5px;
}

#navigation_bar {
	line-height: 30px;
	height: 30px;
	background: #009688;
	color: #fff;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

html, body {
	margin: 0;
}

html, body {
	padding: 0;
}

html, body, #content_frame {
	width: 100%;
}

html, body, #content_frame {
	height: 100%;
}

html {
	overflow: hidden;
}